
<div *ngIf="doctor">
    <h2>{{doctor.firstName | uppercase}} {{doctor.lastName | uppercase}} Details</h2>
    <div><span>id: </span>{{doctor.doctorId}}</div>
    <div>
      <label><h2>first name:</h2>
        <input [(ngModel)]="doctor.firstName" placeholder="first name"/>
      </label>
    </div>
    <div>
        <label><h2>last name:</h2>
          <input [(ngModel)]="doctor.lastName" placeholder="last name"/>
        </label>
      </div>
    <button class="btn btn-primary" (click)="goBack()">go back</button>
    <button class ="btn btn-secondary" (click)="editDoctor()">save</button>
</div>
<br>
<br>

<h2>List of Doctor's treatments</h2>
<div *ngIf="treatments">
    <div *ngIf="treatments.length === 0">
        empty
    </div>
 </div>
 <ul>
    <li *ngFor="let item of treatments">
       <h2> id:{{ item.treatmentId }} {{ item.name }}</h2>
    </li>
 </ul>
 <br>
 <br>

 <h2>List of Doctor's treatment History</h2>
<div *ngIf="treatmentDetails">
    <div *ngIf="treatmentDetails.length === 0">
        empty
    </div>
 </div>
 <ul>
    <li *ngFor="let item of treatmentDetails">
        <h2>{{ item.treatmentDetailsId }} {{ item.treatmentId }} {{ item.patientId }} {{ item.opsRoomId }} {{ item.startTime}}</h2>
    </li>
 </ul>
