<br>
<div>
    <h4>{{ doc.firstName }} {{ doc.lastName }}</h4>
    <label>
        Doctor's first name: 
        <input [(ngModel)]="doc.firstName" placeholder="First Name"/>
    </label>
    <label>
        Doctor's last name: 
        <input [(ngModel)]="doc.lastName" placeholder="Last Name"/>
    </label>
</div>
<button type="button" (click)="addDoctor()">Add Doctor</button>
<br>
<br>

<br>
<div>Doctors List</div>




<div *ngIf="error">
    error: {{ error }}
</div>
<div *ngIf="!doctors">
    (loading...)
</div>
<div *ngIf="doctors">
    <div *ngIf="doctors.length === 0">
        empty
    </div>
</div>
<ul>
    <li *ngFor="let item of doctors">
        <a routerLink="/details/{{item.doctorId}}">
        <span>
            {{item.doctorId}}
        </span>
        {{ item.getFullName() }}
        </a>
        <button title="Delete Doctor" 
            (click)="deleteDoctor(item.doctorId)">x</button>
    </li>
</ul>

