

<div *ngIf="doc" class="grid grid-pad">
    <button (click)="logout()" class="abc">doctor logout</button>
    <nav>
        <a routerLink="/details/{{doc}}">Doctor Profile</a>
    </nav>
    <nav>
        <a routerLink="/patient">Current Patients</a>
    </nav>
</div>
<div *ngIf="nur" class="grid grid-pad">
    <button (click)="logout()" class="abc">nurse logout</button>
    <nav>
        <a routerLink="/patient">Current Patients</a>
    </nav>
</div>
<div *ngIf="pat" class="grid grid-pad">
    <button (click)="logout()" class="abc">patient logout</button>
    <nav>
        <a routerLink="/patient-details/{{pat}}">Patient Profile</a>
    </nav>
</div>
<div *ngIf="adm" class="grid grid-pad">
    <button (click)="logout()" class="abc">admin logout</button>
    <ul>
        <nav>
            <a routerLink="/FindPatients/2">Search Patients</a>
        </nav>
        <nav>
            <a routerLink="/doctor">Doctors</a>
        </nav>
        <nav>
            <a routerLink="/patient">Patients List</a>
        </nav>
    </ul>
</div>
