<p>patient-details works!</p>
<!-- <div *ngIf="patient" name="patient-info">
    <h2>
        {{patient.firstName | uppercase}} {{patient.lastName | uppercase}}

    </h2>
        <ul>
            <li>
                <label for="patientroomid">Patient Room Number</label>
                <input [(ngNodel)]="patient.patientRoomId" name="patientroomid" id="patientroomid"/>
            </li>
        </ul>

        <div *ngIf="treatment" name="treatment-details"> Treatment Information
            <label for="treatment-name">Treatment Name</label>
            <input [(ngNodel)]="treatment.Name" name="treatment-name" id="treatment-name"/>

            <label for="treatment-time">Treatment Name</label>
            <input [(ngNodel)]="treatment.timeToTreat" name="treatment-time" id="treatment-time"/>
        </div>

        <button class="btn btn-danger" (click)="deletePatient()">Delete Patient</button>

        

</div> -->

