<br>
<h1>Patient List</h1>

<div *ngIf="doc">
    <div class="spinner spinner-borser" role="status" *ngIf="!patients">
       <span>Loading Patients...</span> 
    </div>
    <div *ngIf="patients">
        <ul>
            <li *ngFor="let patient of patients">
                <div *ngIf="patient.patientRoomId">
                    <a class="btn btn-secondary" routerLink="/treatment-details/{{patient.patientId}}">
                        {{patient.firstName}} {{patient.lastName}}
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>

<div *ngIf="!doc">
    <div class="spinner spinner-borser" role="status" *ngIf="!patients">
        Loading Patients...
    </div>
    <div *ngIf="patients">
        <ul>
            <li *ngFor="let patient of patients">
                <a class="btn btn-secondary" routerLink="/patient-details/{{patient.patientId}}">
                {{patient.firstName}} {{patient.lastName}}
                </a>
                <span class="text" *ngIf="patient.patientRoomId"><h4>(Assigned)</h4></span>
                <span class="text" *ngIf="!patient.patientRoomId"><h4>(Unassigned)</h4></span>
            </li>
    
        </ul>
    </div>
</div>

