<p>patient works!</p>

<div *ngIf="!doc">
    <div *ngIf="!patients">
        Loading Patients...
    </div>
    <div *ngIf="patients">
        <ul>
            <li *ngFor="let patient of patients">
                <a routerLink="/patient-details/{{patient.patientId}}">
                {{patient.firstName}} {{patient.lastName}}
                </a>
            </li>
        </ul>
    </div>
</div>

<div *ngIf="patients">
    <ul>
        <li *ngFor="let patient of patients">
            <a routerLink="/patient-details/{{patient.patientId}}">
            {{patient.firstName}} {{patient.lastName}}
            </a>
            <span *ngIf="patient.patientRoomId">(Assigned)</span>
            <span *ngIf="!patient.patientRoomId">(Unassigned)</span>
        </li>

    </ul>
</div>


